/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */

/* HEADERS */

h1 {
  margin: 20px;
}

h2 {
  font-size: 120%;
}

h3 {

}

/* BODY DEFAULT */
body {
  font-family: 'Roboto', sans-serif;
}

.meal-text {
  font-size: 200%;
  margin-top: 0px;
}

.required {
  color: #ee5253;
}

.field {
  display: block;
  flex-direction: column;
  padding: 5px;
}

.radio {

}

.hidden {
  display: none;
}

.teal-button {
  background-color: rgba(15, 185, 177, .6);
  padding: 8px 50px;
  border: 1px solid #0fb9b1;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.teal-button:hover {
  background-color: #0fb9b1;
  color: #fff;
  border: 1px solid #0fb9b1;
  border-radius: 4px;
}

.gray-button {
  background-color: rgba(149, 165, 166, .8);
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  float: right;
}

.gray-button:hover {
  background-color: #95a5a6;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}

.clear-button {
  /* display: flex; */
  /* justify-content: flex-end;
  align-items: flex-end; */
}

.callouts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main {
  background-image: url(./assets/burger-friends.jpg);
  background-size: cover;
  /* height: 100%;
  display: flex;
  justify-content: space-around; */
}

.make-title {
  font-style: italic;
  margin-bottom: 10px;
}

/* NAV BAR */
nav {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: rgba(255,255,255,.9);
  max-width: 326px;
  min-height: 322px;
  padding: 40px;
  margin: 60px;
}

/* form {
  padding: 40px;
  min-width: 316px;
} */

.meal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  /* align-items: center; */
  background-color: rgba(255,255,255,.9);
  max-width: 356px;
  min-height: 322px;
  padding: 20px;
  margin: 60px;
  text-align: center;
}

.cookpot {
  width: 40%;
  /* display: flex; */
  justify-content: center;
  padding-top: 40px;
}
.cookpot-only {
  /* display: flex; */
  justify-content: center;
  min-width: 316px
}

.meal-only {
  /* margin: 60px; */
  /* position: relative; */
  text-align: center;
  padding: 20px;
}
